body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.button-box {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
}

.button {
  margin: 5px;
}

.image {
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column; 
  padding: 5px;
  margin: 10px;
  justify-content: space-between;
}